<div class="container-fluid">
    <div class="row align-items-center justify-content-center  m-3">
        <div class="col-6 d-flex align-items-center justify-content-center">
            <canvas class="canvas-display" #canvas width="{{canvasWidth}}" height="{{canvasHeight}}">
            </canvas>
        </div>
        <div class="col-6 d-flex align-items-center justify-content-center">
            <canvas class="canvas-action" #canvasAction width="{{canvasWidth}}" height="{{canvasHeight}}">
            </canvas>
        </div>
    </div>
    <div class="row align-items-center">
        <div class="col-6 d-flex align-items-center justify-content-center">

            <app-arrows [title]="'Align'" (onClick)="align($event)"></app-arrows>
            <app-arrows [title]="'Move'" (onClick)="move($event)" [disable]="[direction.Center]"></app-arrows>

            <div class="input-group mb-3 w-50">
                <app-range [title]="'Rotate'" [value]="angle" [step]="rotateStep" (onChange)="rotate($event)" ></app-range>
                <app-range [title]="'Resize'" [value]="resizePercentage" [step]="rotateStep" (onChange)="resize($event)" ></app-range>
                <app-range [title]="'Zoom'" [value]="zoomPercentage" (onChange)="zoom($event)" ></app-range>
            </div>

        </div>
        <div class="col  d-flex align-items-center justify-content-center">

            <div class="btn-groups">
                <div class="btn-group" role="group">
                    <button class="btn btn-outline-primary" type="button" (click)="visibility()">
                        <span
                            [ngClass]="{'bi bi-eye-fill': selectedItemIsVisible,'bi bi-eye-slash': !selectedItemIsVisible}"></span>
                    </button>
                    <button class="btn btn-outline-primary" (click)="download()">Download Image</button>
                    <button class="btn btn-outline-primary" (click)="render()">Render</button>
                    <button class="btn btn-outline-primary" (click)="save()">Save</button>

                    <button class="btn btn-outline-primary" (click)="restore()">Restore</button>
                    <button class="btn btn-outline-primary" (click)="deleteItem()">Delete</button>
                    <button class="btn btn-outline-primary" (click)="clear()">Clear</button>
                    <button class="btn btn-outline-primary" (click)="loadItem()">Load</button>
                </div>
            </div>
        </div>

    </div>
    <div class="row">
        <div class="col">
            <div class="wrapper">
                <div class="alert " role="alert" *ngFor="let item of items, index as i " (click)="selectItem(item)"
                    [ngClass]="{'alert-info': i % 2 == 0,'alert-primary': i % 2 == 1,'alert-light': selectedItemId === item.Id }">
                    {{
                    toViewModel(item) | json}}"
                </div>
            </div>
        </div>
    </div>
</div>