<div class="btn-groups">
    <span class="badge bg-primary">{{title}}</span>
    <div class="btn-group" role="group">
        <button type="button" (click)="arrow(arrows.TopLeft)" class="btn btn-outline-primary btn-lg" [ngClass]="{'disabled': isDisabled(arrows.TopLeft)}">
            <span class="bi-arrow-up-left"></span>
        </button>
        <button type="button" (click)="arrow(arrows.Top)" class="btn btn-outline-primary btn-lg" [ngClass]="{'disabled': isDisabled(arrows.Top)}">
            <span class="bi-arrow-up"></span>
        </button>
        <button type="button" (click)="arrow(arrows.TopRight)" class="btn btn-outline-primary btn-lg" [ngClass]="{'disabled': isDisabled(arrows.TopRight)}">
            <span class="bi-arrow-up-right"></span>
        </button>
    </div>
    <div class="btn-group" role="group">
        <button type="button" (click)="arrow(arrows.Left)" class="btn btn-outline-primary btn-lg" [ngClass]="{'disabled': isDisabled(arrows.Left)}">
            <span class="bi-arrow-left"></span>
        </button>
        <button type="button" class="btn btn-outline-primary btn-lg" (click)="arrow(arrows.Center)" [ngClass]="{'disabled': isDisabled(arrows.Center)}">
            <span class="bi-arrows-move"></span>
        </button>
        <button type="button" (click)="arrow(arrows.Right)" class="btn btn-outline-primary btn-lg" [ngClass]="{'disabled': isDisabled(arrows.Right)}">
            <span class="bi-arrow-right"></span>
        </button>
    </div>
    <div class="btn-group" role="group">
        <button type="button" (click)="arrow(arrows.BottomLeft)" class="btn btn-outline-primary btn-lg" [ngClass]="{'disabled': isDisabled(arrows.BottomLeft)}">
            <span class="bi-arrow-down-left"></span>
        </button>
        <button type="button" (click)="arrow(arrows.Bottom)" class="btn btn-outline-primary btn-lg" [ngClass]="{'disabled': isDisabled(arrows.Bottom)}">
            <span class="bi-arrow-down"></span>
        </button>
        <button type="button" (click)="arrow(arrows.BottomRight)" class="btn btn-outline-primary btn-lg" [ngClass]="{'disabled': isDisabled(arrows.BottomRight)}">
            <span class="bi-arrow-down-right"></span>
        </button>
    </div>
</div>