<div class="btn-groups">
    <span class="badge bg-primary">{{title}}</span>
    <div class="btn-group" role="group">
        <button type="button" (click)="arrow(arrows.UpLeft)" class="btn btn-outline-primary btn-lg" [ngClass]="{'disabled': isDisabled(arrows.UpLeft)}">
            <span class="bi-arrow-up-left"></span>
        </button>
        <button type="button" (click)="arrow(arrows.Up)" class="btn btn-outline-primary btn-lg" [ngClass]="{'disabled': isDisabled(arrows.Up)}">
            <span class="bi-arrow-up"></span>
        </button>
        <button type="button" (click)="arrow(arrows.UpRight)" class="btn btn-outline-primary btn-lg" [ngClass]="{'disabled': isDisabled(arrows.UpRight)}">
            <span class="bi-arrow-up-right"></span>
        </button>
    </div>
    <div class="btn-group" role="group">
        <button type="button" (click)="arrow(arrows.Left)" class="btn btn-outline-primary btn-lg" [ngClass]="{'disabled': isDisabled(arrows.Left)}">
            <span class="bi-arrow-left"></span>
        </button>
        <button type="button" class="btn btn-outline-primary btn-lg" (click)="arrow(arrows.Center)" [ngClass]="{'disabled': isDisabled(arrows.Center)}">
            <span class="bi-arrows-move"></span>
        </button>
        <button type="button" (click)="arrow(arrows.Right)" class="btn btn-outline-primary btn-lg" [ngClass]="{'disabled': isDisabled(arrows.Right)}">
            <span class="bi-arrow-right"></span>
        </button>
    </div>
    <div class="btn-group" role="group">
        <button type="button" (click)="arrow(arrows.DowLeft)" class="btn btn-outline-primary btn-lg" [ngClass]="{'disabled': isDisabled(arrows.DowLeft)}">
            <span class="bi-arrow-down-left"></span>
        </button>
        <button type="button" (click)="arrow(arrows.Down)" class="btn btn-outline-primary btn-lg" [ngClass]="{'disabled': isDisabled(arrows.Down)}">
            <span class="bi-arrow-down"></span>
        </button>
        <button type="button" (click)="arrow(arrows.DownRight)" class="btn btn-outline-primary btn-lg" [ngClass]="{'disabled': isDisabled(arrows.DownRight)}">
            <span class="bi-arrow-down-right"></span>
        </button>
    </div>
</div>